<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Initial Page</title>
  </head>
  <body>
    <h1>Web App Practice</h1>

    <% if (state === 'on') { %>
    <p>환영합니다, <%= userID %> 님!</p>
    <form action="/logout" method="POST" style="display: inline">
      <button type="submit">로그아웃</button>
    </form>
    <button onclick="window.location.href='/myInfo'">내 정보 보러 가기</button>
    <button onclick="window.location.href='/stocks'">
      주식 종목 보러 가기
    </button>
    <% } else { %>
    <button id="login">로그인</button>
    <button id="signup">회원가입</button>
    <button onclick="window.location.href='/stocks'">
      주식 종목 보러 가기
    </button>
    <% } %>

    <script>
      const loginButton = document.getElementById("login");
      const signupButton = document.getElementById("signup");

      if (loginButton) {
        loginButton.addEventListener("click", () => {
          window.location = "http://localhost:3000/login";
        });
      }
      if (signupButton) {
        signupButton.addEventListener("click", () => {
          window.location = "http://localhost:3000/signup";
        });
      }
    </script>
  </body>
</html>
